body{
    background-color: #ffffff;
    margin: 0 auto;
}

#logo{
    width: 120px;
}

header{
    background-color: #ffffff;
    margin-bottom: 100px;
    text-align: center;

}

.barra{
    border-top: gray;
    border-bottom: gray;
}

header nav ul{
    float: center;
}

header nav ul li{
    background-color: #ffffff;
    border-top: gray;
    border-bottom: gray;
    font-size: 15px;
    display: inline-block;
    color: gray;
    margin: 0px 25px 0px 0px;
    
}

.ORDER-THE-BOOK{
    border: none;
    background-color: #f0be3f;
    height: 30px;
    border-radius: 3px;
    color: white;
}
#libros{
    width: 600px;
    position: absolute;
    top:150px;
    right:80px;
    z-index: -1;
}
.Texto{
    text-align: center;
    margin-right: 800px;
    margin-left: 200px;
}

section li{
    font-size: 30px;
    list-style: none;
    margin-bottom: 10px;
}

.descripcion{
    margin-bottom: 10px;
    font: 15px;

}

.Persona{
    margin-bottom: 10px;
    font: 15px;

}

.Orderbooks{
    margin-top: 300px;
    margin-left: 500px;
    text-align: center;
    font-size: 30px;
    color: black;
}
.Genuine{
    text-align: center;
    font-size: 20px;
    color: grey;
    margin-left: 500px;
    margin-bottom: 10pxs;
}
.Libros{
    padding-right: 100%;
}

footer{
    margin-top: 100px;
}

.AMAZON{
    border-color: #f0be3f;
    background-color:white;
    height: 35px;
    border-radius: 3px;
    color: black;
    width: 100px;
    margin-left: 100px;
}

.BARNES{
    margin-left: 100px;
}

.SPD{
    margin-left: 100px;
}
.INDIEBOUND{
    margin-left: 100px;
}
